.open {
    display: block;
    
}

.menuOpen {
    display: block;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    margin: 1rem 0 0;
    width: 100%;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}